*, *::before, *::after {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

pre {
  font-family: IBM Plex Mono, monospace;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 8px 16px;
  border-radius: 8px;
  color: #24292f;
  width: 100%;
  max-width: 768px;
  white-space: pre-wrap;
  word-break: break-all;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.search {
  width: 100%;
  max-width: 600px;
  margin: 0.5rem;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
  height: 38px;
  padding: 8px 16px;
  border-radius: 8px;
  color: #24292f;
  background: #fff;
  border: 2px solid #d0d7de;
  box-shadow: 0px 4px 4px #DAECFF;
}

.search:hover {
  border-color: #3399FF;
}

.search:focus {
  border-color: #3399FF;
  box-shadow: 0 0 0 3px #b6daff;
}

.search:focus-visible {
  outline: 0;
}


.button {
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  height: 38px;
  min-width: 80px;
  background-color: #007FFF;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  transition: all 150ms ease;
  cursor: pointer;
  border: none;
  word-break: keep-all;
  box-shadow: 0px 4px 30px #eaeef2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #0072E5;
}

.button:focus-visible {
  box-shadow: 0 3px 20px 0 rgba(61, 71, 82, 0.1), 0 0 0 5px rgba(0, 127, 255, 0.5);
  outline: none;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:active {
  background-color: #0059B2;
}

.error {
  color: #FF0000;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 0.25rem;
}